* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.choice {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
}
img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
img:active {
  scale: 1.1;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;

  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
